 <!-- About Section -->
    <section id="about">
        <div class="container vertical-center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary ninja">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>When I got my first computer at age 6(with an incredible 2GB hard drive), I played with it all the time.

                            <br><br>Since I was 12, I've worked on games. I ran servers, made 3d maps, 3d models, designed and coded games, made art with Photoshop, produced videos and websites. I remember the long hours trying to fix bugs in programs and systems I barely knew anything about. It was chaos, but I had so much fun!
</p>
                </div>
                <div class="col-lg-5">
                    <p>I graduated at UFRGS, where I worked in a data visualization research project. In my free time, I work on personal projects, read books and bike around.</p>
                    <p>I am a Full Stack web developer at Hardfun Studio. I've worked on multiple projects with Ruby on Rails, PostgreSQL and PHP. I also have experience working with NodeJS and Django. 
                        <br><br>You can reach me any time at <b>guigorichter@gmail.com</b>.</p>
                </div>
            </div>
        </div>
    </section>
