 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>When I got my first computer at age 6(with an incredible 2GB hard drive), I played with it all the time.

                            Since I was 12, I've worked on games. I ran servers, made 3d maps, 3d models, designed and coded games, made art with Photoshop, produced videos and websites. I remember the long hours trying to fix bugs in programs and systems I barely knew anything about. It was chaos, but I had so much fun!



                            I graduated at UFRGS, where I worked in a data visualization research project. In my free time, I develop games, read books and bike around.</p>
                </div>
                <div class="col-lg-5">
                    <p>Currently I'm working at HardFun Studios as a web developer. You can find my work below and you can contact me at any time, just send an email!</p>
                </div>
            </div>
        </div>
    </section>
